.header {
  margin: 50px 0 0 0;
  background: url(../img/bg.jpg);
  padding: 60px 0;
  color: #ccc;
}
.header .container {
  padding: 0 35px;
}
.content {
  text-align: center;
  padding: 50px 0 0 0 ;
  background-color: #eee;
}
.content .caption {
  color: #666;
}
#footer {
  padding: 20px;
  text-align: center;
  background-color: #666;
  border-top: 1px solid #ccc;
  color: #ccc;
}
